<!-- sensor_readings.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Readings</title>
</head>
<body>
    <h1>Sensor Readings</h1>
    <ul>
        {% for sensor in sensors %}
        <h2>
            <strong> {{ sensor.name }}: </strong> {{ sensor.latest_reading.value }} {{ sensor.unit }}
        </h2>
        {% endfor %}
    </ul>
</body>
</html>
